/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(128, 128, 128, 0.10);
  overflow-x: hidden;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header div:nth-child(2){
  order: -1;
}

header div:nth-child(4){
  text-align: right;
}


header::before{
  content: '';
  background: #4A1CFD ;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 500px;
  width: 100vw;
}

nav{
  text-align: right;
}

.nav-item {
  margin: 10px 30px;
  color: #ffffff;
}


.nav-item-active{
  margin: 10px 30px;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: #ffffff;
  color: #4A1CFD;
}

.logo{
  position: relative;
  left: 80px;
  top: 50px;
}

.header-text{
  position: relative;
  left: 80px;
  top: -20px;
}

nav{
  position: relative;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

nav svg:nth-child(7){
  position: relative;
  right: 35px;
}

.header-text h2{
  color: #ffffff;
  font-size: 40px;
}

.header-text p{
  margin-top: 10px;
  color: #ffffff;
  font-size: 18px;
}

.header-image{
  position: relative;
  right: 0px;
  top: 30px;
  height: 500px;
}


.companies{
  margin-left: 80px;  
  position: relative;
  bottom: 40px;
}

.company-items{
  font-family: 'Righteous', cursive;
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  margin-right: 50px;
}


.cards::after{
  content: ">";
  font-size: 50px;
  font-family: 'Righteous', cursive;
  padding: 2px 20px;
  background-color: #4A1CFD;
  color: #ffffff;
  border-radius: 50px;
  height: 60px;  
}


.cards{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

.api{
  margin-top: 50px;
}

.api-heading{
  margin-left: 80px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}

.card{
  padding: 30px 20px;
}

.card-active{
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 10px;
}

.blog-heading::after{
  content: "See All Article";
  color: #4A1CFD;
  font-weight: bold;
  font-size: 20px;
}

.blog-heading{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 50px 80px;
}

.blog-heading h1{
  font-size: 40px;
  font-weight: bold;
}

.blog-cards{
  display: flex;
  justify-content: space-around;
}

.blog-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 70px;
}

.blog-image{
  grid-row: 1 / 4;
  height: 400px;
}

.blog-image img{
  height: 400px;
  }

.blog-bottom{
  position: relative;
  top: 100px;
  right: 100px;  
}

.blog-card-bottom-image{
  height: 68px;
}

.blog-content{
  position: relative;
  top: 30px;
}

.blog-content h6{
  font-size: 15px;
  color: #4A1CFD;
  margin-bottom: 10px;
}

.blog-content h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-content small{
  font-weight: bold;
}


.blog-author{
  font-weight: bold;
}


.blog-cards .blog-card:first-child{
  margin-right: 190px;
}


.faq-section{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  background-color: rgba(0, 0, 255, 0.04);
}

.faq-content{
  margin-left: 80px;
}

.faq-content h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-content h4:nth-child(2){
  font-size: 15px;
  margin-bottom: 40px;
}

.faq-content h4:nth-child(3){
  font-size: 20px;
  margin-bottom: 20px;
}


.faq-content button{
  background-color: #4A1CFD;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
}

.faq-image img{
  height: 350px;
}

.faq-image{
  height: 350px;
}

.download-section{
  display: flex;
  justify-content: space-between; 
  padding: 100px 80px;
}

.download-content h1{
  font-size: 30px;
  font-weight: bold;
}

.download-content h1 span{
  font-size: 30px;
  font-weight:100;
}

.download-email form input{
  width: 450px;
  padding: 20px 50px;
  border-radius: 50px;
  border: none;
  position: relative;
  left: 100px;
  z-index: -1;
  background-color: rgba(0, 0, 255, 0.04);
}

::placeholder{
  color: #000000;
  font-weight: bold;
}

.download-email form button{
  background-color: #4A1CFD;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 20px 50px;
  text-transform: uppercase;
}

.footer-section{
  display: flex; 
  justify-content: space-between;
  padding: 80px 80px 50px;
  background-color: #4A1CFD;
  align-items: flex-end;
}


.list{
  display: flex;
}

.logos-list{
  display: flex;
  margin-top: 15px;
}

.footer-left img{
  height: 50px;  
  margin-bottom: 20px;
}

.list .list-items{
  list-style: none;
  color: #ffffff;
  margin-right: 40px;
}

.footer-right .footer-logos{
  height: 45px;  
  margin-left: 30px;
}

.logos-list .list-items{
  list-style:none;
  margin-left: 30px;
  color: #ffffff;
}

.list .list-items:nth-child(2)::after{
  content: '|';
  position: relative;
  left: 20px;
}
.list .list-items:nth-child(3)::after{
  content: '|';
  position: relative;
  left: 20px;
}
.list .list-items:nth-child(4)::after{
  content: '|';
  position: relative;
  left: 20px;
}


.logos-list .list-items:nth-child(3)::before{
  content: '|';
  position: relative;
  right: 14px;
}

.logos-list .list-items:nth-child(2)::before{
  content: '|';
  position: relative;
  right: 14px;
}